upload/dump.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="resources">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="resource" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ip"/>
              <xs:element type="xs:string" name="dns"/>
              <xs:element type="xs:string" name="url"/>
              <xs:element type="xs:string" name="dateoff"/>
              <xs:element type="xs:string" name="info"/>
            </xs:sequence>
            <xs:attribute type="xs:short" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="date"/>
      <xs:attribute type="xs:string" name="key"/>
    </xs:complexType>
  </xs:element>
</xs:schema>

